@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {font-family: 'Nanum Gothic', sans-serif;}
.dark {
    --bg-color: #1f2023;
    --obj-color: #fff;
    --inner-border-color: #393939;
    --cosmo-color: #6e2cff;
}
.light {
    --bg-color: #fff;
    --obj-color: #000;
    --inner-border-color: #ddd;
    --cosmo-color: #b59dff;
}